*{
  margin : 0;
  padding:0;
  box-sizing:border-box;
  color:#fff;
}

html,body{
  height:100%;
  width:100%;
}

body{
  background-color: black;
}

.count{
  font-size: 3rem;
  width:fit-content;
  display:flex;
  justify-content: center;
  align-items:center;
  padding:100px;
  margin: 50px;
  background-color: rgba(128, 128, 128, 0.712);
}

.btn{
  padding:10px 20px;
  font-size:1.5rem;
  margin:10px;
  cursor:pointer;
  border:none;
  border-radius:5px;
  background-color: gray;
  color:white;
}

.app{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:90vh;
}