*{
  padding : 0;
  margin : 0;
  box-sizing : border-box;
  background-color: black;
}

body{
  font-family : Arial, Helvetica, sans-serif;
}

.card{
  padding : 20px;
  margin : 20px;
  background-color: pink;
  border-radius : 10px;
  color : white;
}

h1, h2{
  background-color: pink;
}

.navbar{
  padding : 20px;
  margin : 20px;
  background-color : violet;
  border-radius : 3px;
  color : white;
}

.navbar h1{
  background-color: violet;
}



