*{
  margin : 0;
  padding:0;
  box-sizing:border-box;
  color:#fff;
}

html,body{
  height:100%;
  width:100%;
}

body{
  background-color: rgba(128, 128, 128, 0.8);
}

.container{
  height:90vh;
  width:100vw;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  gap:20px;
}

input,button{
  padding:20px;
  font-size:26px;
  border-radius:5px;
  border:none;
  outline:none;
  color:black;
}

